USE [master]
GO
/****** Object:  Database [cdfs_palomas]    Script Date: 03/06/2026 13:15:36 ******/
CREATE DATABASE [cdfs_palomas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cdfs_palomas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cdfs_palomas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cdfs_palomas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cdfs_palomas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cdfs_palomas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cdfs_palomas]
GO
/****** Object:  Table [dbo].[club]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[escudo] [varchar](255) NULL,
	[descripcion] [text] NULL,
	[id_temporada_actual] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competiciones]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competiciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_temporada] [int] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[convocatorias]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[convocatorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_partido] [int] NOT NULL,
	[id_jugador] [int] NOT NULL,
	[titular] [bit] NOT NULL,
	[goles] [int] NOT NULL,
	[amarillas] [int] NOT NULL,
	[doble_amarilla] [bit] NOT NULL,
	[roja] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_convocatoria] UNIQUE NONCLUSTERED 
(
	[id_partido] ASC,
	[id_jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuerpo_tecnico]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuerpo_tecnico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[foto] [varchar](255) NULL,
	[id_temporada] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuerpo_tecnico_asignaciones]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuerpo_tecnico_asignaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cuerpo_tecnico] [int] NOT NULL,
	[id_temporada] [int] NOT NULL,
	[categoria] [nvarchar](50) NOT NULL,
	[cargo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dorsales]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dorsales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_jugador] [int] NOT NULL,
	[id_temporada] [int] NOT NULL,
	[dorsal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_jugador] ASC,
	[id_temporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[galeria]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[galeria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url_imagen] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[fecha] [date] NULL,
	[id_partido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellidos] [varchar](150) NOT NULL,
	[posicion] [varchar](50) NULL,
	[foto] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[noticias]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noticias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NULL,
	[contenido] [nvarchar](max) NULL,
	[imagen] [varchar](255) NULL,
	[id_usuario] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partidos]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[rival] [varchar](150) NOT NULL,
	[goles_favor] [int] NULL,
	[goles_contra] [int] NULL,
	[es_local] [bit] NOT NULL,
	[id_competicion] [int] NOT NULL,
	[jugado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temporadas]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temporadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 03/06/2026 13:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[rol] [varchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[convocatorias] ADD  DEFAULT ((0)) FOR [titular]
GO
ALTER TABLE [dbo].[convocatorias] ADD  DEFAULT ((0)) FOR [goles]
GO
ALTER TABLE [dbo].[convocatorias] ADD  DEFAULT ((0)) FOR [amarillas]
GO
ALTER TABLE [dbo].[convocatorias] ADD  DEFAULT ((0)) FOR [doble_amarilla]
GO
ALTER TABLE [dbo].[convocatorias] ADD  DEFAULT ((0)) FOR [roja]
GO
ALTER TABLE [dbo].[jugadores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[noticias] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[partidos] ADD  DEFAULT ((0)) FOR [goles_favor]
GO
ALTER TABLE [dbo].[partidos] ADD  DEFAULT ((0)) FOR [goles_contra]
GO
ALTER TABLE [dbo].[partidos] ADD  DEFAULT ((1)) FOR [es_local]
GO
ALTER TABLE [dbo].[partidos] ADD  DEFAULT ((0)) FOR [jugado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('visitante') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[club]  WITH CHECK ADD  CONSTRAINT [fk_club_temporada] FOREIGN KEY([id_temporada_actual])
REFERENCES [dbo].[temporadas] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[club] CHECK CONSTRAINT [fk_club_temporada]
GO
ALTER TABLE [dbo].[competiciones]  WITH CHECK ADD  CONSTRAINT [fk_comp_temporada] FOREIGN KEY([id_temporada])
REFERENCES [dbo].[temporadas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competiciones] CHECK CONSTRAINT [fk_comp_temporada]
GO
ALTER TABLE [dbo].[convocatorias]  WITH CHECK ADD  CONSTRAINT [fk_conv_jugador] FOREIGN KEY([id_jugador])
REFERENCES [dbo].[jugadores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[convocatorias] CHECK CONSTRAINT [fk_conv_jugador]
GO
ALTER TABLE [dbo].[convocatorias]  WITH CHECK ADD  CONSTRAINT [fk_conv_partido] FOREIGN KEY([id_partido])
REFERENCES [dbo].[partidos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[convocatorias] CHECK CONSTRAINT [fk_conv_partido]
GO
ALTER TABLE [dbo].[cuerpo_tecnico]  WITH CHECK ADD  CONSTRAINT [FK_CuerpoTecnico_Temporada] FOREIGN KEY([id_temporada])
REFERENCES [dbo].[temporadas] ([id])
GO
ALTER TABLE [dbo].[cuerpo_tecnico] CHECK CONSTRAINT [FK_CuerpoTecnico_Temporada]
GO
ALTER TABLE [dbo].[cuerpo_tecnico_asignaciones]  WITH CHECK ADD FOREIGN KEY([id_cuerpo_tecnico])
REFERENCES [dbo].[cuerpo_tecnico] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cuerpo_tecnico_asignaciones]  WITH CHECK ADD FOREIGN KEY([id_temporada])
REFERENCES [dbo].[temporadas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dorsales]  WITH CHECK ADD FOREIGN KEY([id_jugador])
REFERENCES [dbo].[jugadores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dorsales]  WITH CHECK ADD FOREIGN KEY([id_temporada])
REFERENCES [dbo].[temporadas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[galeria]  WITH CHECK ADD  CONSTRAINT [fk_galeria_partido] FOREIGN KEY([id_partido])
REFERENCES [dbo].[partidos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[galeria] CHECK CONSTRAINT [fk_galeria_partido]
GO
ALTER TABLE [dbo].[noticias]  WITH CHECK ADD  CONSTRAINT [fk_noticia_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[noticias] CHECK CONSTRAINT [fk_noticia_usuario]
GO
ALTER TABLE [dbo].[partidos]  WITH CHECK ADD  CONSTRAINT [fk_partido_comp] FOREIGN KEY([id_competicion])
REFERENCES [dbo].[competiciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[partidos] CHECK CONSTRAINT [fk_partido_comp]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [chk_rol] CHECK  (([rol]='visitante' OR [rol]='admin'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [chk_rol]
GO
USE [master]
GO
